:root {
    --accent: #168fd6;
    --accent-light: #ccdde8;
    --accent-dark: #044488;
    --text-light: #fffcf6;
    --text-dark: #044488;
    --main-bg-color: #edece8;
}

html, body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
    background-color: var(--main-bg-color);
}

.bg-accent {
    background-color: var(--accent);
    background: linear-gradient(90deg, var(--accent) 0%, var(--accent-dark) 100%);
}

.navbar * {
    color: var(--text-light);
}

.navbar-toggler {
    border: 0;
    font-size: 2rem;
    color: var(--main-bg-color);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.hero {
    position: relative;
    color: var(--text-light);
    margin-bottom: 3rem;
}

.hero .hero-img {
    border-radius: 50%;
    border: 2px solid var(--text-light);
}

.hero-social {
    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    width: auto;
}

.hero-social div {
    position: relative;
    text-align: center;
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    color: var(--accent-dark);
    font-size: 2rem;
    margin: 0 1rem 0 1rem;
}

.hero-social div i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background-color: var(--accent-dark);
    color: var(--text-light);
}

@media (max-width: 767px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: var(--accent-dark);
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}