:root {
    --accent: #168fd6;
    --accent-hover: #1a9ce9;
    --accent-light: #ccdde8;
    --accent-light-hover: #d3eaf9;
    --accent-dark: #044488;
    --accent-dark-hover: #023060;
    --text-light: #fffcf6;
    --text-dark: #044488;
    --main-bg-color: #edece8;
}

/*------------------------------------------ DOCUMENT */

html, body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
    background-color: var(--main-bg-color);
    color: var(--accent-dark-hover);
}

section {
    margin-bottom: 3rem;
}

/*------------------------------------------ HEADINGS */

h1, h2, h3, h4, h5 {
    color: var(--accent-dark);
}

h1, h2 {
    text-align: center;
}

.section-title {
    margin: 1rem 0 2rem 0;
}

/*------------------------------------------ UTILS */

.bg-accent {
    background-color: var(--accent);
    background: linear-gradient(90deg, var(--accent) 0%, var(--accent-dark) 100%);
}

.gradient-light {
    stop-color: var(--accent);
}

.gradient-dark {
    stop-color: var(--accent-dark);
}

.fill-dark {
    fill: var(--accent-dark);
}

.fill-accent {
    fill: var(--accent);
}

.fill-bg-color {
    fill: var(--main-bg-color)
}

/*------------------------------------------ KEYFRAMES */

/* HOVER.CSS Pulse Grow */

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

/*------------------------------------------ BUTTONS */

.btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.btn:hover, .btn:focus, .btn:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-accent {
    color: var(--main-bg-color);
    background-color: var(--accent);
    border-color: var(--accent-dark);
}

.btn-accent:hover {
    color: var(--text-light);
    background-color: var(--accent-hover);
    border-color: var(--accent-dark);
}

.btn-accent-light {
    color: var(--text-dark);
    background-color: var(--accent-light);
    border-color: var(--accent-light);
}

.btn-accent-light:hover {
    color: var(--accent-dark-hover);
    background-color: var(--accent-light-hover);
    border-color: var(--accent-light);
}

.btn-light {
    color: var(--text-dark);
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}

.btn-light:hover {
    color: var(--accent-dark-hover);
    background-color: var(--text-light);
    border-color: var(--main-bg-color);
}

.btn-dark {
    color: var(--main-bg-color);
    background-color: var(--accent-dark);
    border-color: var(--accent-dark);
}

.btn-dark:hover {
    color: var(--text-light);
    background-color: var(--accent-dark-hover);
    border-color: var(--accent-dark);
}

/*------------------------------------------ HEADER */

/* HOVER.CSS Grow */

.navbar-brand {
    color: var(--text-light);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
    color: var(--text-light);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* HOVER.CSS Sweep to top */

.nav-link {
    color: var(--text-light);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.nav-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-bg-color);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: var(--accent-dark);
}

.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.navbar-toggler {
    border: 0;
    font-size: 2rem;
    color: var(--main-bg-color);
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*------------------------------------------ HERO */

#hero {
    margin-bottom: 0;
}

.hero {
    position: relative;
    color: var(--text-light);
}

.hero .hero-img {
    border-radius: 50%;
    border: 2px solid var(--text-light);
}

.hero .hero-title {
    color: var(--text-light);
    text-align: left;
}

.hero-social {
    position: absolute;
    left: 50%;
    bottom: -4.5rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    width: auto;
}

.hero-social div {
    position: relative;
    text-align: center;
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    color: var(--accent-dark);
    font-size: 2rem;
    margin: 0 1rem 0 1rem;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hero-social div:hover, .hero-social div:focus, .hero-social div:active {
    background-color: var(--text-light);
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.hero-social div a {
    display: block;
    width: 100%;
    height: 100%;
}

.hero-social div i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------------------------------------------ SKILLS */

#skills .separator {
    margin-bottom: 3rem;
}

.skill-container {
    padding: .5rem;
}

.progress {
    background-color: var(--accent-light);
}

/*------------------------------------------ EDUCATION */

#education {
    background-color: var(--accent-light);
}

#education .section-title {
    margin-top: -1.5rem;
}

.card-education {
    border-top-right-radius: 50ch;
    border-bottom-right-radius: 50ch;
}

.card-education .card-left {
    text-align: center;
    padding: 1rem;
    color: var(--accent-light-hover);
    border-top-right-radius: 50ch;
    border-bottom-right-radius: 50ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-education .card-left i {
    font-size: 2rem;
}

.card-education .card-left h4 {
    color: var(--text-light);
}

.card-education .card-subtitle {
    margin-bottom: .5rem;
}

.card-education .card-body {
    padding: 1rem 2rem;
}

/*------------------------------------------ FOOTER */

footer {
    background-color: var(--accent-dark);
    color: var(--text-light);
}

/*------------------------------------------ MEDIA QUERIES */

@media (max-width: 767px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: var(--accent-dark);
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
    .card-education {
        border-radius: 0.25rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .card-education .card-left {
        border-radius: 0.25rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .card-education .card-body {
        padding: 1rem 1rem;
    }
}