{% extends "admin/base.html" %}
{% block content %}
<section id="add_post">
    <div class="row my-2 align-items-center">
        <div class="order-1 order-sm-0 col-sm-8 col-md-9 col-lg-10">
            <h1 class="text-start my-2">Add New Blog Post</h1>
        </div>
        <div class="order-0 order-sm-1 col-8 offset-2 offset-sm-0 col-sm-4 col-md-3 col-lg-2 text-center">
            <img src="{{ url_for('static', filename='images/post.svg') }}" alt="Blog Post" class="section-image">
        </div>
    </div>
    <div class="card col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form action="{{ url_for('add_blog') }}" method="POST">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="title" name="title" placeholder="New Post Title">
                    <label for="title">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="slug" name="slug" placeholder="new-post-title" disabled>
                    <label for="slug">Slug</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="photo" name="photo" placeholder="...">
                    <label for="photo">Photo</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" rows="3" id="body" name="body" style="height: 100px;"
                        placeholder="..."></textarea>
                    <label for="body">Text</label>
                </div>
            </div>
            <div class="card-footer text-center d-flex justify-content-between">
                <a href="{{ url_for('get_blogs') }}" class="btn btn-lg btn-danger">Cancel</a>
                <button type="submit" class="btn btn-lg btn-accent">Add</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/admin-blog.js') }}"></script>
{% endblock scripts %}