{% extends "admin/base.html" %}
{% block styles %}

{% endblock styles %}
{% block content %}
<section id="add_post">
    <div class="row my-2 align-items-center">
        <div class="order-1 order-sm-0 col-sm-8 col-md-9 col-lg-10">
            <h1 class="text-start my-2">Add New Blog Post</h1>
        </div>
        <div class="order-0 order-sm-1 col-8 offset-2 offset-sm-0 col-sm-4 col-md-3 col-lg-2 text-center">
            <img src="{{ url_for('static', filename='images/post.svg') }}" alt="Blog Post" class="section-image">
        </div>
    </div>
    <div class="card col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form action="{{ url_for('add_blog') }}" method="POST" enctype="multipart/form-data" id="dropzoneForm">
            <div class="card-header">
                <h4 class="text-center">New</h4>
            </div>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="title" name="title" placeholder="New Post Title">
                    <label for="title">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="slug" name="slug" placeholder="new-post-title"
                        readonly="readonly">
                    <label for="slug">Slug</label>
                </div>
                <input type="hidden" id="url-for-files" value="{{ url_for('files')}}">
                <input type="hidden" id="collection" value="blogs">
                <input type="hidden" name="photo-list" id="photo-list">
                <input type="file" name="files" id="drop-file-elem" accept="image/*" multiple>
                <div id="drop-area" data-multiple="true">
                    <i class="bi bi-upload"></i>
                        Drag&drop files here or click to select...
                </div>
                <div id="gallery" class="row"></div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" rows="3" id="body" name="body" style="height: 100px;"
                        placeholder="..."></textarea>
                    <label for="body">Text</label>
                </div>
            </div>
            <div class="card-footer text-center d-flex justify-content-between">
                <a href="{{ url_for('get_blogs') }}" class="btn btn-lg btn-danger" id="cancel-form">Cancel</a>
                <button type="submit" class="btn btn-lg btn-accent" id="submit-form">Add</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/slugify.js') }}"></script>
<script src="{{ url_for('static', filename='js/photos.js') }}"></script>
<script src="https://cdn.tiny.cloud/1/emgmzxkejmtysjj6vbbmqrkk2zkr2qoo44j51u7oam308dtn/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#body',
        plugins: 'anchor autolink link image imagetools table spellchecker lists autoresize charmap code emoticons fullscreen help hr media paste preview print quickbars toc',
        contextmenu: 'anchor link image imagetools table spellchecker lists',
        toolbar: 'undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | numlist bullist | emoticons | code fullscreen',
        toolbar_mode: 'wrap',
        quickbars_insert_toolbar: false,
        min_height: 300,
        max_height: 500,
        paste_as_text: true,
        image_list: function(success) {
            success(getPhotoList());
        }
    });
</script>
{% endblock scripts %}