{% extends "admin/base.html" %}
{% block content %}
<section id="add_skill">
    <div class="row my-2 align-items-center">
        <div class="order-1 order-sm-0 col-sm-8 col-md-9 col-lg-10">
            <h1 class="text-start my-2">Add New Skill</h1>
        </div>
        <div class="order-0 order-sm-1 col-8 offset-2 offset-sm-0 col-sm-4 col-md-3 col-lg-2 text-center">
            <img src="{{ url_for('static', filename='images/skills.svg') }}" alt="Skills" class="section-image">
        </div>
    </div>
    <div class="card col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form action="{{ url_for('add_skill') }}" method="POST">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="HTML">
                    <label for="name">Skill name</label>
                </div>
                <div class="range-wrap">
                    <label for="percentage" class="form-label">Percentage</label>
                    <input type="range" class="range form-range" id="percentage" name="percentage" min="0" max="100">
                    <output class="bubble"></output>
                </div>
            </div>
            <div class="card-footer text-center d-flex justify-content-between">
                <a href="{{ url_for('get_skills') }}" class="btn btn-lg btn-danger">Cancel</a>
                <button type="submit" class="btn btn-lg btn-accent">Add</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}