{% extends "admin/base.html" %}
{% block content %}
<section id="edit_post">
    <div class="row my-2 align-items-center">
        <div class="order-1 order-sm-0 col-sm-8 col-md-9 col-lg-10">
            <h1 class="text-start my-2">Edit Blog Post</h1>
        </div>
        <div class="order-0 order-sm-1 col-8 offset-2 offset-sm-0 col-sm-4 col-md-3 col-lg-2 text-center">
            <img src="{{ url_for('static', filename='images/post.svg') }}" alt="Blog Post" class="section-image">
        </div>
    </div>
    <div class="row g-4">
        <div class="col-md-7">
            <div class="card">
                <form action="{{ url_for('edit_blog', id=post._id) }}" method="POST">
                    <div class="card-header">
                        <h4 class="text-center">Edit</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}">
                            <label for="title">Title</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="slug" name="slug" value="{{ post.slug }}"
                                readonly="readonly">
                            <label for="slug">Slug</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" rows="3" id="body" name="body"
                                style="height: 100px;">{{ post.body }}</textarea>
                            <label for="body">Text</label>
                        </div>
                    </div>
                    <div class="card-footer text-center d-flex justify-content-between">
                        <a href="{{ url_for('get_blogs') }}" class="btn btn-lg btn-danger">Cancel</a>
                        <button type="submit" name="blog-data" class="btn btn-lg btn-accent confirm">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <form action="{{ url_for('edit_blog', id=post._id) }}" method="POST" enctype="multipart/form-data">
                    <div class="card-header">
                        <h4 class="text-center">Photo</h4>
                    </div>
                    <div class="card-body row justify-content-center g-2">
                        {% if post.photos|length %}
                            <label for="current-photo">Current Photo:</label>
                            <div class="photo-container col-sm-4 col-md-6 col-lg-4">
                                <img class="img-thumbnail" src="{{ url_for('uploads', filename=post.photos) }}" alt="{{ post.title }}">
                                <a href="#" class="delete-photo confirm btn btn-danger" data-photo-key="0">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        {% else %}
                            <label>No Current Photo</label>
                        {% endif %}
                        <div class="mb-3">
                            <input type="hidden" id="url-for-photos" value="{{ url_for('photos')}}">
                            <input type="hidden" id="collection" value="blogs">
                            <input type="hidden" id="doc-id" value="{{ post._id }}">
                            <label for="drop-file-elem" class="form-label">New Photo</label>
                            <noscript>
                                <input class="form-control" id="drop-file-elem" name="photo" type="file">
                            </noscript>
                            <div id="drop-area"></div>
                            <small>This will replace the current image (if any). Empty submit will simply remove photo.</small>
                        </div>
                    </div>
                    <noscript>
                        <div class="card-footer text-center d-flex justify-content-between">
                            <button type="submit" name="blog-photo" class="btn btn-lg btn-accent confirm" id="photo-submit">Submit</button>
                        </div>
                    </noscript>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/slugify.js') }}"></script>
<script src="{{ url_for('static', filename='js/photos.js') }}"></script>
{% endblock scripts %}